.none {
  display: none;
}

.card {
  display: flex;
}

.tag {
  display: inline-block;
  background-color: aqua;
}

.btnReserve {
  background-color: rgb(68, 68, 231);
  color: white;
}

.btnReserved {
  background-color: aliceblue;
  color: grey;
  border: 1px solid gray;
}

.imageContainer,
.imageContainer > * {
  height: 10rem;
  width: 20rem;
}

.imageContainer {
  margin-right: 3%;
}

.Rocket_Info > * {
  margin: 0;
}
